<!-- add a post -->
  <section>
    <h2>
      Add a New Blog
    </h2>
<br/>
    <p id='displayerr' style="color:red;text-align:center;"></p>
    <form class='new-blog-form' style="text-align:center;">
      <br />
      <input id='blog_title' size=30>

      </input>
      <br />
      <br />
      <textarea id='content' rows='5' cols='48'>

      </textarea>
      <br />
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</section>
<!-- This is the form for adding a new blog -->
<script src='/js/add-blog.js'></script>
