<section>
  <h2>
    {{xx.title}}
  </h2>
    <p>
      By:
      {{xx.user_id}}
    </p>
      {{#if xx.updatedAt}}
<p>Last updated on {{xx.updatedAt}}</p>
{{/if}}
    &nbsp;
  <div>
    <p>
      {{xx.content}}
    </p>
  </div>
</section>