<section>
<h2>Login</h2>
    <form class="login-form" style="text-align:center;">
<br/>
      <div class="form-group">
        <label for="username-login">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
<br/>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
<br/>
      <div class="form-group" id="buttonarea">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
 </form>
</section>
<script src="./js/login.js"></script>